<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>Клиент</title>
    {% macro render_table(table_name, relation, id) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        {% set n = len(relation) %}
        </p>
        <table>
          <tr>
            {% for name in relation.dtypes.index %}
            <th>{{name}}</th>
            {% endfor %}
          </tr>

          <tbody>
            {% for i in range(n) %}
            <tr>
              {% for name in relation.dtypes.index %}
                  <td> {{ relation.loc[i, name] }} </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endmacro %}
</head>
<body>
 <div class="menu">
 <ul>
     <li><a href={{url_for("record")}}>Записать</a></li>
     <li><a href={{url_for("index")}}>Мастера</a></li>
     <li class ="active"><a href={{url_for("client")}} method="get">Клиенты</a></li>
 </ul>
 </div>
<div class="block">
    <p>
 <form action='' method ="get" name="">
    Дата: <input type="date" placeholder="Дата записи" name="date_record">
    <input type="submit" value="Найти">
 </form>
    </p>
{{render_table("Записи на эту дату", date_record) }}
 </div>
</body>
</html>