<!DOCTYPE HTML>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
 <title> Груминг-салон </title>
    {% macro render_form(combo_box) %}
      <p>Мастер:
        <form>
          <select name="master">
          {% set n = len(combo_box) %}

          {% for i in range(n) %}
            {% set id_m = combo_box.loc[i, "master_id"] %}

            {% if id_m == master_id %}
              <option selected value={{id_m}}>
            {% else %}
              <option value={{id_m}}>
            {% endif %}
              {{ combo_box.loc[i, "master_full_name"] }}
              </option>
          {% endfor %}
          </select>
      <input type="submit" value="Найти">
        </form>
      </p>
    {{render_table("Записи мастера", master_record, combo_box2, master_id1)}}
    {% endmacro %}

    {% macro render_table(table_name, relation, combo_box, master_id1) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        {% set n = len(relation) %}
        </p>
        <form>
            Дата и время
            <select name="date_time">
            {% for i in range(n) %}
              <option>{{ relation.iloc[i, 0] +' '+ relation.iloc[i, 1] }}
            {% endfor %}
            </select><br>

            Клиент:
            <select name="client">
          {% set n = len(combo_box) %}

          {% for i in range(n) %}
            {% set id_m = combo_box.loc[i, "client_id"] %}

            {% if id_m == client_id %}
              <option selected value={{id_m}}>
            {% else %}
              <option value={{id_m}}>
            {% endif %}
              {{ combo_box.loc[i, "client_name"] }} ( {{ combo_box.loc[i, "phone_number"] }} )
              </option>
          {% endfor %}
          </select>

            <input type="text" name="pet_name" placeholder="Кличка питомца">
            <input type="text" name="master_double" value="{{master_id1}}" width="5px">
            <input type="submit" value="Записать" class="back"><br>

        </form>
      </div>
    {% endmacro %}
</head>

<body>
 <div class="menu">
 </div>
 <div class="block">
 <p>
 <form action='' method ="get" name="">
    {{render_form(combo_box1)}}
 </form>
 </p>

     <a href={{url_for("new_client")}} class="back">Новый клиент</a>
     <a href={{url_for("new_pet")}} class="back">Новый питомец</a>
     <a href={{url_for("record")}} method="get" class="back">Назад</a>
 </div>

</body>
</html>