<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>Запись</title>
    {% macro render_form(combo_box) %}
      <p>
        <form>
          <select name="client">
          {% set n = len(combo_box) %}

          {% for i in range(n) %}
            {% set id_m = combo_box.loc[i, "client_id"] %}

            {% if id_m == client_id %}
              <option selected value={{id_m}}>
            {% else %}
              <option value={{id_m}}>
            {% endif %}
              {{ combo_box.loc[i, "client_name"] }}
              </option>
          {% endfor %}
              <input type="submit" value="Найти">
          </select>

        </form>
      </p>
    {% endmacro %}
    {% macro render_table(table_name, relation, id) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        {% set n = len(relation) %}
        </p>
        <table>
          <tr>
            {% for name in relation.dtypes.index %}
            <th>{{name}}</th>
            {% endfor %}
          </tr>

          <tbody>
            {% for i in range(n) %}
            <tr>
              {% for name in relation.dtypes.index %}
                  <td> {{ relation.loc[i, name] }} </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endmacro %}

    {% macro render_table_m_avail(table_name, relation1, relation2) %}
      <div class="tbl_container">
        <p>
          <b>{{table_name}} </b>
        {% set n1 = len(relation1) %}
            {% set n2 = len(relation2) %}
        </p>
            {% for i in range(n1) %}
          <p>
              {% for name in relation1.dtypes.index %}
                    {% if name == 'record_date' %}
                        <input type="radio" name="date_choose">{{ relation1.loc[i, name] }}
                    {% else %}
                        (
                          {{ relation1.loc[i, name] }}
                        )
                    {% endif %}

          {% endfor %}
          </p>
            {% endfor %}
      </div>
    {% endmacro %}

</head>
<body>
 <div class="menu">
 <ul>
     <li class="active"><a href={{url_for("record")}} method="get">Записать</a></li>
     <li><a href={{url_for("index")}}>Мастера</a></li>
     <li><a href={{url_for("client")}}>Клиенты</a></li>
 </ul>
 </div>

<div class="block">
        <a href={{url_for("days")}} method="get" class="record">Дни</a></li>
        <a href={{url_for("masters")}} method="get" class="record">Мастера</a>
        <a href={{url_for("cancel_record")}} method="get" class="record">Отменить запись</a>
 </div>
</body>
</html>